<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Versões.Core</title>
    <link rel="stylesheet" href="~/lib/fontawsome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-4.5.2.min.css" />
    <linl rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-menu border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-bug text-white" style="font-size:28px;"></i>  Versões.Core</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Lançamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Consultas</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastros</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                <a asp-area="" asp-controller="Usuario" asp-action="Index" class="dropdown-item">Usuário</a>
                                <a asp-area="" asp-controller="Projeto" asp-action="Index" class="dropdown-item">Projeto</a>
                                <a asp-area="" asp-controller="Setor" asp-action="Index" class="dropdown-item">Setor</a>
                            </div>
                        </li>
                        <div class="nav-item ml-auto"><a href="#" class="nav-link" id="linkLogout" >
                            <span class="js-logout-username"></span><i class="ml-1 fas fa-sign-out-alt"></i> </a>
                        </div>
                    </ul>
                       
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - Versões.Core
        </div>
    </footer>
    <script src="~/lib/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="~/lib/popper/popper-1.16.1.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap-4.5.2.min.js"></script>
    <script src="~/lib/axios/axios-0.20.0.min.js"></script>
     <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    
    <script src="~/js/script.js"  type="module" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
