<section class="container" id="js-projeto">
   
    <button class="btn btn-success mb-0" id="btnNovoProjeto" data-toggle="modal" data-target="#modal-projeto"><i class="fas fa-plus"></i> Novo Projeto</button>

    <div class="card">
        <div class="card-header table-header mb-3 bg-mcm"><i class="fas fa-project-diagram" style='font-size:22px'></i> Projetos</div>
        <div class="card-body ">   
            <div class="table-responsive">      
                <table class="table table-hover" id="tableProjetos">
                    <thead class="bg-light-gray  text-mcm text-uppercase ">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col" >Status</th>
                            <th scope="col" >Ações</th>
                        </tr>
                    </thead>
                    <tbody>                      
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</section>

   <!-- Modal Projeto -->
    <div class="modal fade" id="modal-projeto" tabindex="-1" role="dialog" aria-labelledby="modalProjeto" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white text-uppercase font-weight-bold" id="modalProjeto">Projeto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                    
                    <form id="formProjeto" novalidate autocomplete="off">
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="nome">Nome:</label>
                                <input type="text" name="nome" id="nome" placeholder="Digite o nome" class="form-control" required maxlength="30" minlength="3" >
                                <input type="hidden" name="id" id="id">
                                <div class="invalid-feedback">Digite um nome válido.</div>
                            </div>
                            <div class="form-group col-12 js-status">
                                <label for="status">Status:</label>
                                <select class="form-control" name="status"  id="status">
                                    <option value="0" selected>Normal</option>
                                    <option value="1">Bloqueado</option>
                                    <option value="2">Excluído</option>
                                </select>
                            </div>
                            <div class="col-12 text-right py-1">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="far fa-times-circle"></i> Cancelar</button>
                                <button type="submit" ><i class="far fa-save"></i> Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Projeto-->


    
   <!-- Modal Exclusão -->   
    <div class="modal fade" id="modal-projeto-exclusao" tabindex="-1" role="dialog" aria-labelledby="modal-projeto-exclusao" aria-hidden="true">
        <form id="formExcluirProjeto" novalidate >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white ">
                    <h5 class="modal-title text-uppercase font-weight-bold" id="modal-projeto-exclusao"><i class="fas fa-trash-alt"></i> Excluir projeto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">     
                    <div class="row">            
                        <div class="form-group col-12">
                            <p>Deseja excluir o projeto <b class="projeto-nome"></b>?</p>
                            <input type="hidden" name="id">
                        </div>                        
                        <div class="col-12 text-right py-1">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="far fa-times-circle"></i> Cancelar</button>
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i> Excluir</button>
                         </div>
                    </div>
                  
                </div>
            </div>
        </div>
        </form>
    </div>
    <!-- Modal -->

